/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans&family=Work+Sans:wght@400;700;800&display=swap');

/* universal selectors */
*{
    margin: 0px;
    padding: 0px;
}
/* body */
body{
    font-family: 'Work Sans', sans-serif;;
}
/* common styles */

.button{
    padding: 15px 20px;
    border-radius: 48px;
    color: white;
    background: #FF42A5;
}

a{
    text-decoration: none;
}

p{
    font-size: 18px;
    line-height: 30px;
    color: #534C64;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
} 

/* nav styles */
.nav-left{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .nav-left h3 {
    font-size: 4em;
  }
  .nav-right{
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  
  .follow-us {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 24px;
  }
  


/* banner styles starts */
.banner-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
   

}

.banner-section-left{
    padding: 148px 240px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-image: url('/images/Group\ 14.png');  
    background-size: 100%;
    background-repeat: no-repeat;

}

.banner-section-left h2{
    font-size: 2em;
    text-transform: uppercase;
}

.banner-section-left h1{
    font-size: 4em;
    
    
}

.icons{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.icon{
    display: flex;
    column-gap: 10px;
}

.btn{
    display: flex;
    column-gap: 15px;
}

#button-blue{
    padding: 15px 20px;
    background: #4EC5F7;
}

/* banner styles ends */

/* Online Games styles */
.online-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 240px;
    row-gap: 16px;
}
.online-videos h2{
    font-size: 2em;
    text-align: center;
}
.cards-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 24px;
}

.card-view{
    width: 330px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
    cursor: pointer;
}

.watch{
    width: calc(100% - 10px);
    height: calc(100% - 92px);
    border: 5px solid #F948B2;
    border-radius: 16px;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 1s;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background-color: rgba(0, 0, 0, 0.60);
}

.watch h3{
    color: #F948B2;
}

.card-view:hover .watch{
    opacity: 1;
}

.instant-container{
    padding: 0 240px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-left{
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    row-gap: 24px;
}
.download-left h3{
    font-size: 2em;
}

  
  .download-right{
    position: relative;
  }

  #play-games-img2{
    width: 50%;
    height: 60%;
    position: absolute;
    bottom: -30%;
    left: -20%; 

  }
  /* games categories styles */

  .games-category-section{
    padding: 120px 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
  .games-choice{
    border-radius: 50px;
    width: min-content;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 10px 20px;
    background: white;
    transition: color 0.5s;
    font-weight: bold;
    border: 2px solid white;

  }

  .games-choice:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
  } 

  /* footer styles starts */

  footer{
    color: white;
    background-color: #0B0223;
    padding: 120px 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 65px;

  }

  .footer-title{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }

  .footer-container, .footer-icons{
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    align-items: center;

  }

  .footer-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
  }

  footer a{
    color: #FFF;
    font-size: 1.125em;
  }

  .copyright{
    color: rgba(255, 255, 255, 0.60);
  }
/* footer styles ends */
    