/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans&family=Work+Sans:wght@400;700;800&display=swap'); */

/* universal selectors */
*{
    margin: 0;
    padding: 0;
}

/* shared styles */
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

/* header styles */

.header-container{
    padding-top: 36px;
    padding-bottom: 36px;
    background: #FFF;
    box-shadow:  0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-logo{
    display: flex;
    vertical-align: center;
}

.nav-container .nav-logo img{
    margin-right: 20px;
}

.nav-container .nav-logo h3{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-menubar{
    display: flex;
    align-items: center;
}

.nav-menubar li{
    list-style: none;
    margin-left: 30px;
}
a{
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-menubar li a{
    color: #3C354F;
}
.nav-menubar .follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

.nav-menubar .follow-us a .fa-youtube{
    color: #F61C0d;
}

.nav-menubar .follow-us a .fa-tiktok{
    color: #000;
    outline-color: #08FFF9;
    
}
